.bg-mainBlue {
    background-color: #05131E;
} 
.bg-secondaryBlue {
    background-color: #10202F;
}

.bg-tertiaryBlue {
    background-color: #1D2D3C;
}

/* general */

header {
    height: 100px;
}


   